.construction-yellow {
    background-color: #FCFFE0 ;
}

.on-market-blue {
    background-color: #C5EAFA ;
}

.problem-red {
    background-color: #FDEAFD ;
}

.lis-pendens-green {
    background-color: #D2F8DF ;
}