.construction-yellow {
    background-color: #fbbd08 ;
    color: #FFFFFF;
}

.on-market-blue {
    background-color: #2185d0 ;
    color: #FFFFFF;
}

.problem-red {
    background-color: #db2828 ;
    color: #FFFFFF;
}

.lis-pendens-green {
    background-color: #21ba45 ;
    color: #FFFFFF;
}

.assignment-brown {
    background-color: #a5673f ;
    color: #FFFFFF;
}

.in-escrow-to-sell-teal {
    background-color: #50b2ac ;
    color: #FFFFFF;
}

.in-escrow-to-buy-olive {
    background-color: #b9c945 ;
    color: #FFFFFF;
}