.construction-yellow {
    background-color: #FCFFE0 ;
}

.on-market-blue {
    background-color: #C5EAFA ;
}

.problem-red {
    background-color: #FBB3BD ;
}

.lis-pendens-green {
    background-color: #97F19E ;
}